In [5]:
import pandas as pd
from utils.clean_data import clean_and_structure_data
from utils.extract_sentiment import extract_keywords, analyse_all_sentiments

df = clean_and_structure_data("Tesla_Trustpilot_Reviews.csv", "pas util")
df_sentiment  = analyse_all_sentiments(df)
df_sentiment

                  Username  ... Sentiment_VADER
0              John McLean  ...         -0.6249
1    Angry from Manchester  ...          0.9279
2                  Kevin O  ...         -0.7778
3           Andrew Haworth  ...         -0.8856
4               Ahmed Radm  ...          0.4404
..                     ...  ...             ...
995              Jacques W  ...         -0.9705
996          Hamid Naraghi  ...         -0.7538
997                    ppr  ...          0.9856
998        Steven Girouard  ...         -0.9720
999                    Don  ...          0.0498

[1000 rows x 7 columns]