In [4]:
import pandas as pd
from utils.clean_data import clean_and_structure_data
from utils.extract_sentiment import extract_keywords, analyse_all_sentiments
from utils.scrape_data import scrape_trustpilot_reviews


num_pages = 50

df = scrape_trustpilot_reviews(num_pages)

# Sauvegarder les résultats dans un fichier CSV
output_path = '.\\data\\Tesla_Trustpilot_Reviews.csv'
df.to_csv(output_path, index=False, encoding='utf-8-sig')
    


df_clean = clean_and_structure_data(".\data\Tesla_Trustpilot_Reviews.csv", "pas util")
df_keywords = extract_keywords(df_clean)
df_sentiment = analyse_all_sentiments(df_clean)

print('Data frame nettoyé \n')
display(df_clean)

print('\nData de mots clés \n')
display(df_keywords)

print('\nData frame avec analyse de sentiments \n')
display(df_sentiment)

<>:17: SyntaxWarning: invalid escape sequence '\d'
<>:17: SyntaxWarning: invalid escape sequence '\d'
C:\Users\julie\AppData\Local\Temp\ipykernel_6532\1696791429.py:17: SyntaxWarning: invalid escape sequence '\d'
  df_clean = clean_and_structure_data(".\data\Tesla_Trustpilot_Reviews.csv", "pas util")
2024-11-26 14:16:12,648 - INFO - Scraping page 1...
2024-11-26 14:16:15,640 - INFO - Scraping page 2...
2024-11-26 14:16:18,548 - INFO - Scraping page 3...
2024-11-26 14:16:21,633 - INFO - Scraping page 4...
2024-11-26 14:16:24,259 - INFO - Scraping page 5...
2024-11-26 14:16:27,069 - INFO - Scraping page 6...
2024-11-26 14:16:29,630 - INFO - Scraping page 7...
2024-11-26 14:16:33,187 - INFO - Scraping page 8...
2024-11-26 14:16:36,152 - INFO - Scraping page 9...
2024-11-26 14:16:38,861 - INFO - Scraping page 10...
2024-11-26 14:16:41,718 - INFO - Scraping page 11...
2024-11-26 14:16:44,127 - INFO - Scraping page 12...
2024-11-26 14:16:47,036 - INFO - Scraping page 13...
2024-11-26 14:16:49,788 - INFO - Scraping page 14...
2024-11-26 14:16:52,310 - INFO - Scraping page 15...
2024-11-26 14:16:55,211 - INFO - Scraping page 16...
2024-11-26 14:16:58,087 - INFO - Scraping page 17...
2024-11-26 14:17:00,843 - INFO - Scraping page 18...
2024-11-26 14:17:03,814 - INFO - Scraping page 19...
2024-11-26 14:17:06,675 - INFO - Scraping page 20...
2024-11-26 14:17:10,565 - INFO - Scraping page 21...
2024-11-26 14:17:13,712 - INFO - Scraping page 22...
2024-11-26 14:17:16,401 - INFO - Scraping page 23...
2024-11-26 14:17:18,715 - INFO - Scraping page 24...
2024-11-26 14:17:21,525 - INFO - Scraping page 25...
2024-11-26 14:17:24,368 - INFO - Scraping page 26...
2024-11-26 14:17:27,460 - INFO - Scraping page 27...
2024-11-26 14:17:30,741 - INFO - Scraping page 28...
2024-11-26 14:17:33,110 - INFO - Scraping page 29...
2024-11-26 14:17:35,781 - INFO - Scraping page 30...
2024-11-26 14:17:38,265 - INFO - Scraping page 31...
2024-11-26 14:17:40,910 - INFO - Scraping page 32...
2024-11-26 14:17:44,357 - INFO - Scraping page 33...
2024-11-26 14:17:47,091 - INFO - Scraping page 34...
2024-11-26 14:17:49,846 - INFO - Scraping page 35...
2024-11-26 14:17:52,147 - INFO - Scraping page 36...
2024-11-26 14:17:55,472 - INFO - Scraping page 37...
2024-11-26 14:17:57,951 - INFO - Scraping page 38...
2024-11-26 14:18:00,846 - INFO - Scraping page 39...
2024-11-26 14:18:03,561 - INFO - Scraping page 40...
2024-11-26 14:18:06,481 - INFO - Scraping page 41...
2024-11-26 14:18:09,076 - INFO - Scraping page 42...
2024-11-26 14:18:12,413 - INFO - Scraping page 43...
2024-11-26 14:18:16,340 - INFO - Scraping page 44...
2024-11-26 14:18:19,347 - INFO - Scraping page 45...
2024-11-26 14:18:21,906 - INFO - Scraping page 46...
2024-11-26 14:18:24,198 - INFO - Scraping page 47...
2024-11-26 14:18:26,804 - INFO - Scraping page 48...
2024-11-26 14:18:29,523 - INFO - Scraping page 49...
2024-11-26 14:18:32,077 - INFO - Scraping page 50...
2024-11-26 14:18:34,486 - INFO - Scraping terminé. 1000 avis extraits.

Data frame nettoyé

,Username,Title,Content,Rating,Date,Sentiment_TextBlob,Sentiment_VADER
0,Jonathan Birge,Worst car buying experience I've ever,Worst car buying experience I've ever had They...,1,2024-11-26,-0.110606,-0.9672
1,Adam,Disappointing Experience with Tesla,Disappointing Experience with TeslaI have been...,1,2024-11-25,-0.355655,-0.8331
2,Angry from Manchester,5 5 for the car 0 5 for the dealer,The car model 3 is excellent though feels a li...,3,2024-11-18,0.179167,0.9279
3,John McLean,Utter Rubbish,Utter Rubbish 3 owner for the last 3 years Goo...,1,2024-11-19,-0.078704,-0.6249
4,Andrew Haworth,Put a deposit on a cybertruck 4 years,Put a deposit on a cybertruck 4 years ago For ...,1,2024-11-20,-0.283333,-0.8856
...,...,...,...,...,...,...,...
995,MARK,I am a pretty level headed person but,I am a pretty level headed person but when I t...,1,2021-09-15,-0.031250,-0.8778
996,Robert Wagner,Terrible Customer Service,I have an appointment scheduled for service am...,1,2021-09-13,-0.302083,-0.7639
997,Jacques W,Worst customer service in Austin Research Blvd,Disappointing customer service experience Whil...,1,2021-09-11,-0.220000,-0.9705
998,Hamid Naraghi,I am only giving one star because that,I am only giving one star because that is the ...,1,2021-09-09,-0.325000,-0.7538
999,ppr,Tesla Service is extremely poor,This is an email I sent to a Mr Walker who I f...,1,2021-09-07,0.074899,0.9856

Data de mots clés

,app,appointment,bad,bought,buy,car,cars,center,company,customer,...,tesla,time,told,ve,vehicle,way,weeks,work,worst,years
0,0.230342,0.000000,0.000000,0.0,0.214164,0.463502,0.000000,0.000000,0.000000,0.139895,...,0.000000,0.000000,0.000000,0.232048,0.000000,0.243833,0.000000,0.000000,0.221829,0.000000
1,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.192324,0.266442,...,0.393170,0.000000,0.000000,0.000000,0.000000,0.232201,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.0,0.000000,0.390794,0.373217,0.000000,0.340556,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.408627,0.000000,0.000000,0.258282,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.445313,0.000000,0.000000,0.439457
4,0.000000,0.000000,0.000000,0.0,0.000000,0.071888,0.000000,0.000000,0.000000,0.000000,...,0.128070,0.239647,0.000000,0.431885,0.000000,0.000000,0.000000,0.000000,0.000000,0.738350
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.000000,0.000000,0.000000,0.0,0.000000,0.325387,0.000000,0.000000,0.000000,0.130945,...,0.000000,0.000000,0.587741,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.445596
996,0.000000,0.655553,0.000000,0.0,0.000000,0.280465,0.000000,0.000000,0.000000,0.338602,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
997,0.000000,0.000000,0.253735,0.0,0.000000,0.000000,0.000000,0.280126,0.000000,0.429454,...,0.422478,0.197637,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.226993,0.000000
998,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.428026,...,0.315805,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
999,0.000000,0.000000,0.000000,0.0,0.000000,0.604624,0.153981,0.000000,0.070253,0.145991,...,0.394952,0.067186,0.072808,0.000000,0.164317,0.084819,0.000000,0.087004,0.000000,0.000000

Data frame avec analyse de sentiments

,Username,Title,Content,Rating,Date,Sentiment_TextBlob,Sentiment_VADER
0,Jonathan Birge,Worst car buying experience I've ever,Worst car buying experience I've ever had They...,1,2024-11-26,-0.110606,-0.9672
1,Adam,Disappointing Experience with Tesla,Disappointing Experience with TeslaI have been...,1,2024-11-25,-0.355655,-0.8331
2,Angry from Manchester,5 5 for the car 0 5 for the dealer,The car model 3 is excellent though feels a li...,3,2024-11-18,0.179167,0.9279
3,John McLean,Utter Rubbish,Utter Rubbish 3 owner for the last 3 years Goo...,1,2024-11-19,-0.078704,-0.6249
4,Andrew Haworth,Put a deposit on a cybertruck 4 years,Put a deposit on a cybertruck 4 years ago For ...,1,2024-11-20,-0.283333,-0.8856
...,...,...,...,...,...,...,...
995,MARK,I am a pretty level headed person but,I am a pretty level headed person but when I t...,1,2021-09-15,-0.031250,-0.8778
996,Robert Wagner,Terrible Customer Service,I have an appointment scheduled for service am...,1,2021-09-13,-0.302083,-0.7639
997,Jacques W,Worst customer service in Austin Research Blvd,Disappointing customer service experience Whil...,1,2021-09-11,-0.220000,-0.9705
998,Hamid Naraghi,I am only giving one star because that,I am only giving one star because that is the ...,1,2021-09-09,-0.325000,-0.7538
999,ppr,Tesla Service is extremely poor,This is an email I sent to a Mr Walker who I f...,1,2021-09-07,0.074899,0.9856