In [ ]:
import pandas as pd
from utils.clean_data import clean_and_structure_data
from utils.extract_sentiment import extract_keywords, analyse_all_sentiments

df_clean = clean_and_structure_data("Tesla_Trustpilot_Reviews.csv", "pas util")
df_keywords = extract_keywords(df_clean)
df_sentiment = analyse_all_sentiments(df_clean)

print('Data frame nettoyé \n')
display(df_clean)

print('\nData de mots clés \n')
display(df_keywords)

print('\nData frame avec analyse de sentiments \n')
display(df_sentiment)

Data frame nettoyé

,Username,Title,Content,Rating,Date,Sentiment_TextBlob,Sentiment_VADER
0,John McLean,Utter Rubbish,Utter Rubbish 3 owner for the last 3 years Goo...,1,2024-11-19,-0.078704,-0.6249
1,Angry from Manchester,5 5 for the car 0 5 for the dealer,The car model 3 is excellent though feels a li...,3,2024-11-18,0.179167,0.9279
2,Kevin O,Musk is the most embarrassing man that,Musk is the most embarrassing man that has eve...,1,2024-11-21,-0.100000,-0.7778
3,Andrew Haworth,Put a deposit on a cybertruck 4 years,Put a deposit on a cybertruck 4 years ago For ...,1,2024-11-20,-0.283333,-0.8856
4,Ahmed Radm,Thanks for the office tomorrow so I can,Thanks for the office tomorrow so I can do it ...,5,2024-11-23,0.200000,0.4404
...,...,...,...,...,...,...,...
995,Jacques W,Worst customer service in Austin Research Blvd,Disappointing customer service experience Whil...,1,2021-09-11,-0.220000,-0.9705
996,Hamid Naraghi,I am only giving one star because that,I am only giving one star because that is the ...,1,2021-09-09,-0.325000,-0.7538
997,ppr,Tesla Service is extremely poor,This is an email I sent to a Mr Walker who I f...,1,2021-09-07,0.074899,0.9856
998,Steven Girouard,Tesla is hands down the worst,Tesla is hands down the worst customer service...,1,2021-09-07,-0.048569,-0.9720
999,Don,I really love the Tesla vehicles I own,I really love the Tesla vehicles I own however...,1,2021-09-06,0.011883,0.0498

Data de mots clés

,app,appointment,bad,bought,buy,car,cars,center,company,customer,...,tesla,time,told,ve,vehicle,way,weeks,work,worst,years
0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.407825,0.000000,0.000000,0.258679,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.445444,0.000000,0.000000,0.439586
1,0.0,0.0,0.000000,0.0,0.0,0.390858,0.372437,0.000000,0.341270,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
2,0.0,0.0,0.000000,0.0,0.0,0.000000,0.290051,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
3,0.0,0.0,0.000000,0.0,0.0,0.071848,0.000000,0.000000,0.000000,0.000000,...,0.127864,0.239513,0.000000,0.432716,0.000000,0.00000,0.000000,0.000000,0.000000,0.737935
4,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.0,0.0,0.252908,0.0,0.0,0.000000,0.000000,0.280007,0.000000,0.429806,...,0.421857,0.197554,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.226897,0.000000
996,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.428506,...,0.315435,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
997,0.0,0.0,0.000000,0.0,0.0,0.604622,0.153634,0.000000,0.070389,0.146172,...,0.394538,0.067186,0.072808,0.000000,0.164316,0.08529,0.000000,0.087004,0.000000,0.000000
998,0.0,0.0,0.227272,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.386240,...,0.379096,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.407797,0.000000
999,0.0,0.0,0.000000,0.0,0.0,0.453703,0.432320,0.000000,0.000000,0.000000,...,0.403715,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000

Data frame avec analyse de sentiments

,Username,Title,Content,Rating,Date,Sentiment_TextBlob,Sentiment_VADER
0,John McLean,Utter Rubbish,Utter Rubbish 3 owner for the last 3 years Goo...,1,2024-11-19,-0.078704,-0.6249
1,Angry from Manchester,5 5 for the car 0 5 for the dealer,The car model 3 is excellent though feels a li...,3,2024-11-18,0.179167,0.9279
2,Kevin O,Musk is the most embarrassing man that,Musk is the most embarrassing man that has eve...,1,2024-11-21,-0.100000,-0.7778
3,Andrew Haworth,Put a deposit on a cybertruck 4 years,Put a deposit on a cybertruck 4 years ago For ...,1,2024-11-20,-0.283333,-0.8856
4,Ahmed Radm,Thanks for the office tomorrow so I can,Thanks for the office tomorrow so I can do it ...,5,2024-11-23,0.200000,0.4404
...,...,...,...,...,...,...,...
995,Jacques W,Worst customer service in Austin Research Blvd,Disappointing customer service experience Whil...,1,2021-09-11,-0.220000,-0.9705
996,Hamid Naraghi,I am only giving one star because that,I am only giving one star because that is the ...,1,2021-09-09,-0.325000,-0.7538
997,ppr,Tesla Service is extremely poor,This is an email I sent to a Mr Walker who I f...,1,2021-09-07,0.074899,0.9856
998,Steven Girouard,Tesla is hands down the worst,Tesla is hands down the worst customer service...,1,2021-09-07,-0.048569,-0.9720
999,Don,I really love the Tesla vehicles I own,I really love the Tesla vehicles I own however...,1,2021-09-06,0.011883,0.0498